@{
    ViewBag.Title = "Home Page";
}

@*<h1>Main page to be</h1>*@
@*<a ng-href="#/articles">articles</a>
<a ng-href="#/home">home</a>*@
<div layout="column" class="relative" role="main" layout-fill>
    <md-content flex>
        <ng-view></ng-view>
    </md-content>
</div>